@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .navContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
  }
  .sideBar {
    position: fixed;
    top: 0;
    left: -40%;
    transition-duration: 0.4s;
    transition-property: opacity;
    visibility: none;
    opacity: 0;
    width: 66%;
    height: 100%;
    color: white;
  }
  .sideBar.visible {
    left: 0;
    visibility: visible;
    opacity: 1;
  }
  .sideBar.visible > button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  .sideBar.visible > ul {
    padding: 3rem;
    line-height: 4rem;
    font-size: 2.5rem;
  }
  .headerIcon {
    display: block;
  }
  .headerContainer {
    display: none;
  }
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .modalContainer {
    flex-direction: column;
    width: 90%;
    height: 90%;
  }
  .modalImg {
    width: 100%;
    height: 40%;
  }
  .modalTitle {
    margin: 1.25rem 0;
  }
  .modalContent {
    margin-left: 0;
  }
}
